/*cor primaria e secundaria do site e ajustes na navbar e h4 */
.bg-primary {
    background-color: rgb(243, 205, 65) !important;
}
.bg-secondary {
     background-color:rgba(231, 126, 61, 0.639) !important;
     color: white;
}
/* Ajustes na navbar e h4 */
.navbar  {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: rgb(189, 101, 46);
    line-height: 2.5;
}
.h4 {
    margin-bottom: 0 !important;
}
#mainCarousel {
  
  user-select: none;   /* impede seleção de texto */
  outline: none;       /* remove a borda de foco padrão */
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}